# MongoDB Atlas Connection String
MONGO_URI=mongodb+srv://BMS:Pragadeesh79@cluster0.kbnnzhf.mongodb.net/
# Gmail SMTP Configuration for Email Notifications
SMTP_EMAIL=pragadeeshserver.79@gmail.com
# Use an App Password if 2FA is enabled (Google Account Setup)
SMTP_PASSWORD=hdfx xkkb oaim oefe


# Flask Security
SECRET_KEY=super-secret-random-key-change-this
